/* app css stylesheet */

/* general styles */

body {
    background-color: #d9d9d9;
}

/* backgrounds */

.background-1 {
    background-color: #fff;
}

.background-2 {
    background-color: #0092df;
}

.background-3 {
    background-color: #f14a29;
}

/* colors */

.color-1 {
    color: #f14a29;
}

/* helper classes */

.table-align {
    display: table;
}

/* specific styles */

#banner {
    height: 400px;
    background-color: #d9d9d9;
    color: #585858;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#banner h1 {
    font-size: 8em;
}

#weekly {
    color: #fff;
    padding: 20px 0px;
    margin-top: 20px;
    text-align: center;
}

#weekly h2 {
    font-size: 3em;
    font-weight: bold;
}