<div class="jumbotron">
<div class="container-fluid">
    <div class="row-fluid content"> 
        <div class="span12">
            <div>
                <h1>WebDev Group</h1>
                <p>
                  Nosso site estará disponível em breve. Informe seu e-mail para obter as atualizações!
                </p>
                <form action="#" id="subscribeform" method="post">
                    <input type="text" id="email" size="80" name="email" placeholder="Informe seu e-mail">
                    <input type="submit" size="80" value="Enviar" id="submit">
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
      <iframe width="100px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://ghbtns.com/github-btn.html?user=twitter&amp;repo=bootstrap&amp;type=watch&amp;count=true" class="github-btn"></iframe>
      </li>
      <li>
      <iframe width="102px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://ghbtns.com/github-btn.html?user=twitter&amp;repo=bootstrap&amp;type=fork&amp;count=true" class="github-btn"></iframe>
      </li>
      <li class="follow-btn">
      <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1368146021.html#_=1369855696976&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=twbootstrap&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" style="width: 237px; height: 20px;" title="Twitter Follow Button" data-twttr-rendered="true"></iframe>
      </li>
      <li class="tweet-btn">
      <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1368146021.html#_=1369855696969&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Ftwitter.github.io%2Fbootstrap%2F&amp;related=mdo%3ACreator%20of%20Twitter%20Bootstrap&amp;size=m&amp;text=Bootstrap&amp;url=http%3A%2F%2Ftwitter.github.com%2Fbootstrap%2F&amp;via=twbootstrap" class="twitter-share-button twitter-count-horizontal" style="width: 106px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe>
      </li>
    </ul>
  </div>
</div>
<div class="container">
    <div class="row-fluid">
        <div class="span4 panel">
            <a class="twitter-timeline" href="https://twitter.com/webdevbr" data-widget-id="339507121500594176" data-chrome="noheader">Tweets de @webdevbr</a>
        </div>
        <div class="span4 panel">
        </div>
        <div class="span4 panel">
        </div>
    </div>
</div>
<!-- twitter follow button -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!-- twitter timeline -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>        
