<!-- banner -->
<section>
    <div class="container">    
        <div class="col-lg-12 table-align">
            <div id="banner" class="background-1">
                <h1><span class="color-1">&lt;</span>webdevbr<span class="color-1">/&gt;</span></h1>
                <p>web development group</p>
            </div>  
        </div>    
    </div>
</section>
<!-- weekly msg -->
<section>
    <div class="container">    
        <div class="col-lg-12">
            <div id="weekly" class="background-4">
                <form class="form-inline" role="form">                    
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Digite o seu e-mail">
                    </div>
                    <button type="submit" class="btn btn-default">Cadastrar</button>   
                </form>          
            </div>  
        </div>    
    </div>
</section>
<footer class="credits">
    <p>
        Developed with
        <span class="heart">♥</span>
         by these
        <a href="https://github.com/webdevbr?tab=members">cool people</a>
    </p>
</footer>