<section>    
    <div class="row text-center">
        <div class="col-lg-12 table">
            <div class="banner">
                <h1>WebDevBR</h1>
                <h3>
                    Nosso site estará disponível em breve.
                    Informe o seu e-mail para obter as atualizações! 
                </h3>
                <form id="emailForm">
                    <input type="email" name="email" placeholder="Digite o seu e-mail" />
                    <button type="submit" class="btn btn-primary">Cadastre-se</button>                
                </form> 
            </div>            
        </div>
    </div>    
</section>
