<div class="container-fluid">
    <div class="row-fluid content"> 
        <div class="span12 jumbotron">
            <div>
                <h1>WebDev Group</h1>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
                    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
                    ut fermentum massa justo sit amet risus.
                </p>
                <a class="btn btn-large btn-primary" href="#">Faça parte hoje mesmo</a>
                <div class="social">
                    <a href="https://twitter.com/webdevbr" class="twitter-follow-button" data-show-count="false" data-lang="pt">Seguir @webdevbr</a>
                </div>                
            </div>
        </div>
    </div>
    <div class="row-fluid">   
        <div class="span4 panel">
            <a class="twitter-timeline" href="https://twitter.com/webdevbr" data-widget-id="339507121500594176" data-chrome="noheader">Tweets de @webdevbr</a>
        </div>
        <div class="span4 panel">
          
        </div>
        <div class="span4 panel">
            
        </div>
    </div>   
</div>
<!-- twitter follow button -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!-- twitter timeline -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>        